
@use './variables' as *;

// Gallery and About Section General Styles
.galleryAndAbout {
    background-color: $secondaryColor;
    padding: 60px 0;
}

// Gallery Styles
.gallery {
    margin-bottom: 70px;
    h3 {
        margin-bottom: 60px;
    }
    ul {
        .picOne,
        .picTwo {
            margin-right: 1%;
        }
        .picTwo,
        .picThree {
            margin-left: 1%;
        }
        .picOne,
        .picThree {
            width: calc((100% / 3) - 1%);
        }
        .picTwo {
            width: calc((100% / 3) - 2%)
        }
    }
}

// About Text Styles
.about {
    .imgContainer {
        width: calc(25% - 2%);
        margin-right: 2%;
    }
    .textContainer {
        width: calc(75% - 2%);
        margin-left: 2%;
        p {
            margin: 20px 0px;
        }
        .btn1 {
            background-color: $accentColor;

            &:hover,
            &:focus {
                background-color: $white;
                border: 2px solid $accentColor;
                color: $accentColor;
            }
        }
    }
}


