@use './variables' as *;

.blog {
    background: $primaryColor;
    .blogText.flexContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3,
        .btn2 {
            align-self: flex-start;
        }
    }
    .blogText,
    .blogImage {
        width: calc(100% / 2);
    }
    .blog1 .blogText {
        padding: 35px 35px 35px 95px; 
    }
    .blog2 .blogText {
        padding: 35px 95px 35px 45px;
    }
    p {
        margin: 30px 0;
    }
    .btn2 {
        background-color: #fff;
        color: $primaryColor;
    }
    .btn2:hover,
    .btn2:focus {
        background-color: #213c28;
        border: 2px solid #fff;
        color: #fff;
    }
}

