
@use './variables' as *;

// general footer styles
footer {
    padding-top: 80px;
    h5 {
        font-size: 1rem;
    }
    .copyright {
        font-size: 0.7rem;
        padding: 6px 0;
        margin-top: 80px;
        background-color: $black;
    }
}

// form styles
.subscriptionDiv,
.contactMenuDiv {
    width: 50%;
}

.subscriptionDiv {
    p {
        font-size: 0.85rem;
        margin: 10px 0 8px;
    }
    form {
        input[type="email"] {
            width: 76%;
            height: 42px;
            padding: 10px 15px;
            font-size: 0.8rem;
            letter-spacing: 0.3px;
        }
        .btn3 {
            min-width: 24%;
            max-width: 52%;
            padding: 7px 18px;
            background: $black;
            border: 2px solid transparent;
            color: $white;
            font-size: 0.80rem;

            &:hover,
            &:focus {
                border: 2px solid $black;
                background: $white;
                color: $black;
            }
        }
    }
}

// contact info & footer nav styles
.contactMenuDiv {
    .contact {
        padding-left: 90px;
    }
    h5 {
        margin-bottom: 14px;
    }
}

.footerNav {
    li {
        text-align: right;
        font-size: 1rem;

        &:not(.item1) {
            padding-top: 4px;
        }
        a {
            width: 100%;

            &:hover,
            &:focus {
                text-shadow: 5px 5px 3px #000;
            }
        }
    }
}