
@use './variables' as *;

// stripping styles
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
button,
img {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

// hide hamburger icon in nav
.nav label,
input[type="checkbox"] {
    display: none;
}

// general styles
html {
    font-size: 125%;
    font-family: $bodyFont;
}

h3,
h4,
h5,
.logo,
.btn,
.btn3,
.footerNav {
    font-family: $styleFont;
}

body {
    line-height: 26px;
    letter-spacing: 0.2px;
    font-size: 0.9rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 32px;
}

// text colors
.galleryAndAbout h3,
.webLinks h4  {
    color: $accentColor;
}

body,
h3,
.btn1 {
    color: $white;
}

.galleryAndAbout,
.webLinks {
    color: $black;
}

// background colors
.blog,
footer {
    background: $primaryColor;
}

// images
img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

// wrapper
.wrapper {
    max-width: 1800px;
    width: 85%;
    margin: 0 auto;
}

// flex box
.flexContainer {
    display: flex;
}

.about .textContainer, 
.blogText.flexContainer {
    flex-direction: column;
}

.nav,
.contactMenuDiv {
    justify-content: space-between;
}

.btn1,
.blog h3,
.blog .btn2 {
    align-self: flex-start;
}

// button styles
.btn {
    border: 2px solid transparent;
    cursor: pointer;
    a {
        padding: 8px 15px;
    }
}

// animation transitions
.mediaLinks a,
.logo {
    transition-property: font-size;
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
}

.mediaLinks a:hover,
.mediaLinks a:focus,
.logo:hover,
.logo:focus {
    font-size: 1.15rem;
}

// center text align
.mediaLinks,
.gallery h3,
.webLinks li,
.copyright {
    text-align: center;
}
    