
@use './variables' as *;

// General Header Styles 
header {
    height: 100vh;
    background: url(../assets/header-image.png) no-repeat right center / cover;
    h2 {
        width: 40%;
        min-width: 220px;
        margin-top: 50px;
        font-size: clamp(1.875rem, 1.5236rem + 1.7568vw, 3.5rem);
        line-height: 2.5rem;
        letter-spacing: 0.8px;
    }
}

// Media Links Styles
.mediaLinks {
    width: 30px;
    position: fixed;
    top: 120px;
    right: 30px;
    a {
        padding-bottom: 8px;
        transition-delay: 0.1s;
    }    
}
