
@use './variables' as *;

// general header styles 
header {
    min-height: 100vh;
    background: url(../assets/header-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;
    h2 {
        width: 40%;
        min-width: 220px;
        margin-top: 50px;
        font-size: clamp(1.875rem, 1.5236rem + 1.7568vw, 3.5rem);
        line-height: 2.5rem;
        letter-spacing: 0.8px;
    }
}

// mediaLinks styles
.mediaLinks {
    position: fixed;
    top: 120px;
    right: 30px;
    a {
        padding-bottom: 8px;

        &:hover,
        &:focus {
            color: $accentColor;
        }
        i.fa-facebook-f {
            padding: 0 3px;
        }
    }    
}
