
@use './variables' as *;

// header navigation bar styles
.nav {
    padding-top: 20px;
    .logo {
        line-height: 20px;
        transition-delay: 0.2s;
        span {
            display: block;
        }
    }
    li {
        a {
            font-weight: 700;
            text-shadow: 3px 3px 2px #000;
            padding-bottom: 8%;
            border: 2px solid transparent;

            &:hover,
            &:focus {
                border-bottom: 2px solid $white;    
            }
        }

        &:not(.lastItem) {
            margin-right: 50px;
        }
    }   
}

