
@use './variables' as *;

// header navigation bar styles
.nav {
    .logo {
        line-height: 18px;
        a:hover,
        a:focus {
            color: $accentColor;
        }
    }
    ul {
        font-weight: 700;
        text-shadow: 3px 3px 2px #000;
        li {
            a {
                padding-bottom: 8px;
                border-bottom: 2px solid transparent;

                &:hover,
                &:focus {
                    border-bottom: 2px solid $white;
                }    
            }
            &:not(.lastItem) {
                margin-right: 40px;
            }
        }   
    }
}

