// color variables
$primaryColor: #213c28;
$secondaryColor: #d6f1e4;
$accentColor: #116500;
$black: #2c2d2c;
$white: #fff;

// font variables
$bodyFont: 'Barlow', sans-serif; 
$styleFont: 'Offside', curseive;