
@use './variables' as *;

// webLinks section styles
.webLinks {
    background: url(../assets/image-5@2x.png);
    padding: 7.5% 0;
    color: $black;
    ul {
        justify-content: center;
        li {
            text-align: center;
            width: calc(100% / 3);
            h4 {
                color: $accentColor;
                margin-top: 12px;
                font-size: 1.2rem;
            }
        }
    }
}