a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
button,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.nav label,
input[type=checkbox] {
  display: none;
}

html {
  font-size: 125%;
  font-family: "Barlow", sans-serif;
}

body {
  line-height: 26px;
  letter-spacing: 0.2px;
  font-size: 0.9rem;
}

h3,
h4,
h5,
.logo,
.btn,
.btn3,
.footerNav {
  font-family: "Offside", cursive;
}

h3 {
  font-size: 1.8rem;
  line-height: 32px;
}

.galleryAndAbout h3,
.webLinks h4 {
  color: #116500;
}

body,
h3,
.btn1,
.btn3 {
  color: #fff;
}

.galleryAndAbout,
.webLinks {
  color: #2c2d2c;
}

.blog,
footer {
  background: #213c28;
}

.wrapper {
  max-width: 1800px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .textContainer,
.blogText.flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav,
.contactMenuDiv {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn1,
.blog h3,
.blog .btn2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn {
  border: 2px solid transparent;
  cursor: pointer;
}
.btn a {
  padding: 8px 15px;
}

.mediaLinks a,
.logo {
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.mediaLinks a:hover,
.mediaLinks a:focus,
.logo:hover,
.logo:focus {
  font-size: 1.15rem;
}

.mediaLinks,
.gallery h3,
.webLinks li,
.copyright {
  text-align: center;
}

.nav {
  padding-top: 20px;
}
.nav .logo {
  line-height: 20px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.nav .logo span {
  display: block;
}
.nav li a {
  font-weight: 700;
  text-shadow: 3px 3px 2px #000;
  padding-bottom: 8%;
  border: 2px solid transparent;
}
.nav li a:hover, .nav li a:focus {
  border-bottom: 2px solid #fff;
}
.nav li:not(.lastItem) {
  margin-right: 50px;
}

header {
  height: 100vh;
  background: url(../assets/header-image.png) no-repeat right center/cover;
}
header h2 {
  width: 40%;
  min-width: 220px;
  margin-top: 50px;
  font-size: clamp(1.875rem, 1.5236rem + 1.7568vw, 3.5rem);
  line-height: 2.5rem;
  letter-spacing: 0.8px;
}

.mediaLinks {
  width: 30px;
  position: fixed;
  top: 120px;
  right: 30px;
}
.mediaLinks a {
  padding-bottom: 8px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.galleryAndAbout {
  background-color: #d6f1e4;
}

.gallery {
  padding-bottom: 45px;
}
.gallery h3 {
  padding: 80px 0 70px;
}
.gallery ul .picOne,
.gallery ul .picTwo {
  margin-right: 1%;
}
.gallery ul .picTwo,
.gallery ul .picThree {
  margin-left: 1%;
}
.gallery ul .picOne,
.gallery ul .picThree {
  width: 32.3333333333%;
}
.gallery ul .picTwo {
  width: 32.3333333333%;
}

.about {
  padding: 45px 0 80px;
}
.about .imgContainer {
  width: 23%;
  margin-right: 2%;
}
.about .textContainer {
  width: 73%;
  margin-left: 2%;
}
.about .textContainer p {
  padding: 20px 0px;
}
.about .textContainer .btn1 {
  background-color: #116500;
}
.about .textContainer .btn1:hover, .about .textContainer .btn1:focus {
  background-color: #fff;
  border: 2px solid #116500;
  color: #116500;
}

.blog .blogText.flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .blogText,
.blog .blogImage {
  width: 50%;
}
.blog .blog1 .blogText {
  padding: 35px 35px 35px 95px;
}
.blog .blog2 .blogText {
  padding: 35px 95px 35px 45px;
}
.blog p {
  margin: 30px 0;
}
.blog .btn2 {
  background-color: #fff;
  color: #213c28;
}
.blog .btn2:hover,
.blog .btn2:focus {
  background: #213c28;
  border: 2px solid #fff;
  color: #fff;
}

.webLinks {
  background: url(../assets/image-5@2x.png);
  padding: 7.5% 0;
}
.webLinks ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.webLinks ul li {
  width: 33.3333333333%;
}
.webLinks ul li h4 {
  margin-top: 12px;
  font-size: 1.2rem;
}

footer {
  padding-top: 80px;
}
footer h5 {
  font-size: 1rem;
}
footer .btn3,
footer .copyright {
  background: #2c2d2c;
}
footer .copyright {
  font-size: 0.7rem;
  padding: 6px 0;
  margin-top: 80px;
}

.subscriptionDiv,
.contactMenuDiv {
  width: 50%;
}

.subscriptionDiv p {
  font-size: 0.85rem;
  margin: 10px 0 8px;
}
.subscriptionDiv form input[type=email] {
  width: 76%;
  height: 42px;
  padding: 10px 15px;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}
.subscriptionDiv form .btn3 {
  min-width: 24%;
  max-width: 52%;
  padding: 7px 18px;
  font-size: 0.8rem;
  border: 1px solid transparent;
}
.subscriptionDiv form .btn3:hover, .subscriptionDiv form .btn3:focus {
  border: 1px solid #2c2d2c;
  background: #fff;
  color: #2c2d2c;
}

.contactMenuDiv .contact {
  padding-left: 90px;
}
.contactMenuDiv h5 {
  margin-bottom: 14px;
}

.footerNav li {
  text-align: right;
  font-size: 1rem;
}
.footerNav li:not(.item1) {
  padding-top: 4px;
}
.footerNav li a {
  width: 100%;
}
.footerNav li a:hover, .footerNav li a:focus {
  text-shadow: 5px 5px 3px #000;
}

/* First Big Break Point: Portrait Tablet and Small Desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
  header {
    background-position: center bottom;
  }
  header h2 span {
    display: block;
  }
  .about.flexContainer {
    padding: 0 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about.flexContainer .imgContainer,
.about.flexContainer .textContainer {
    width: 100%;
    margin: 0;
  }
  .about.flexContainer .hide img {
    width: inherit;
    height: 400px;
    -o-object-position: 50% 35%;
       object-position: 50% 35%;
    padding-bottom: 50px;
  }
  footer .wrapper.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscriptionDiv,
.contactMenuDiv {
    width: 100%;
  }
  .contactMenuDiv {
    margin-top: 60px;
  }
  .contactMenuDiv .contact {
    padding-left: 0;
  }
}
/* Second Big Break Point: Landscape Phone to Portrait Tablet */
@media (max-width: 768px) {
  header h2 {
    line-height: 2.2rem;
  }
  i.fa-bars {
    font-size: 1.8rem;
  }
  ul.slideOutMenu {
    min-width: 55%;
    background: rgba(44, 45, 44, 0.8);
    border: 2px solid #fff;
    border-right-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: fixed;
    right: -60%;
    top: 100px;
    z-index: 10;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul.slideOutMenu li {
    width: 100%;
  }
  ul.slideOutMenu a {
    width: inherit;
    padding: 35px 0;
    font-size: 2.3rem;
    text-align: center;
  }
  ul.slideOutMenu a:hover,
ul.slideOutMenu a:focus {
    background-color: rgba(17, 101, 0, 0.6);
    border-bottom-color: transparent;
  }
  .nav label {
    display: block;
  }
  input[type=checkbox]:checked + ul.slideOutMenu {
    right: 0px;
  }
  label[for=toggle] {
    position: fixed;
    right: 5%;
    z-index: 10;
  }
  .mediaLinks {
    display: none;
  }
  .galleryAndAbout h3 {
    font-size: 1.5rem;
  }
  .gallery h3 {
    padding: 40px 0;
  }
  .gallery ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery ul .picOne {
    margin-right: 2%;
  }
  .gallery ul .picTwo {
    margin-left: 2%;
    margin-right: 0;
  }
  .gallery ul .half {
    width: 48%;
  }
  .gallery ul .full {
    margin: 65px 0 0;
    width: 100%;
  }
  .gallery ul .full img {
    width: 100%;
    height: 400px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hide {
    display: none;
  }
  .blog .blogText.flexContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .blog .blogImage {
    width: 100%;
  }
  .blog .blogText.wrapper {
    width: 90%;
  }
  .blog1 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog1 .blogImage img {
    width: 100%;
    height: 280px;
  }
  .blog1 .blogText.wrapper {
    padding: 80px 0;
  }
  .blog1 .blogText.wrapper h3,
.blog1 .blogText.wrapper .btn2 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blog2 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog2 .blogImage img {
    width: 100%;
    height: 330px;
  }
  .blog2 .blogText.wrapper {
    padding: 80px 0;
  }
  .blog2 .blogText.wrapper h3,
.blog2 .blogText.wrapper .btn2 {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 680px) {
  header {
    background: url(../assets/headerMobile3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -120px center;
  }
}
/* Third Big Break Point: Landscape Phones and Down */
@media (max-width: 480px) {
  header {
    background-position-x: -220px;
  }
  header h2 {
    line-height: 1.8rem;
  }
  .galleryAndAbout .gallery {
    padding-bottom: 20px;
  }
  .galleryAndAbout .gallery .full img {
    height: 320px;
  }
  .about .textContainer p {
    padding: 10px 0 30px;
  }
  .about .textContainer .btn1 {
    letter-spacing: 0.3;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about .textContainer .btn1 a {
    padding: 17px 27px;
  }
  .blog1 .blogImage img {
    height: 165px;
  }
  .blog1 .blogText.wrapper {
    padding: 40px 0;
  }
  .blog1 .blogText.wrapper h3 {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .blog2 .blogImage img {
    height: 215px;
  }
  .blog2 .blogText.wrapper {
    padding: 40px 0;
  }
  .blog2 .blogText.wrapper h3 {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .webLinks .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .webLinks .flexContainer li h4 {
    font-size: 1.1rem;
  }
  .webLinks .flexContainer li:nth-child(2) {
    margin: 35px;
  }
  footer {
    padding-top: 40px;
  }
  footer .copyright {
    margin-top: 40px;
  }
  .subscriptionDiv h5,
.subscriptionDiv p {
    text-align: center;
  }
  .subscriptionDiv .emailInput.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscriptionDiv .emailInput.flexContainer input[type=email] {
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
  }
  .contactMenuDiv {
    margin-top: 40px;
  }
  .contactMenuDiv .contact h5 {
    margin-bottom: 8px;
  }
  .contactMenuDiv .contact p {
    line-height: 20px;
    font-size: 0.75rem;
  }
  .contactMenuDiv .contact span {
    display: block;
  }
  .contactMenuDiv .footerNav li {
    font-size: 0.92rem;
  }
}
@media (max-width: 320px) {
  header {
    height: 90vh;
    background-position-x: -180px;
  }
  header h2 {
    font-size: 1.8rem;
    line-height: 30px;
    margin-top: 40px;
  }
  .galleryAndAbout p,
.blog p {
    font-size: 0.8rem;
    line-height: 22px;
  }
  .galleryAndAbout h3 {
    font-size: 1.2rem;
  }
  .galleryAndAbout .gallery .full img {
    height: 250px;
  }
  .galleryAndAbout .about.wrapper {
    padding-bottom: 60px;
  }
  .blog1 .blogImage img {
    height: 165px;
  }
  .blog1 .blogText.wrapper h3 {
    font-size: 1.2rem;
    padding: 0;
  }
  .blog2 .blogImage img {
    height: 200px;
  }
  .blog2 .blogText.wrapper {
    padding: 30px 0;
  }
  .blog2 .blogText.wrapper h3 {
    font-size: 1.2rem;
    padding: 10px 0 0 0;
  }
  .subscriptionDiv p {
    font-size: 0.73rem;
  }
}